# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.db
*.sqlite3
venv/
.venv/
dist/
build/
*.egg-info/

# Node
node_modules/
.next/
out/
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
